<html lang="zxx">
    
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Manup Template">
    <meta name="keywords" content="Manup, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PCSCE</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.svg' %}"  style="border-radius: 50%;">

    <!-- Css Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!---->

    <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}" type="text/css">
</head>


<div class="wrapper bg-white mt-sm-5">
    <h4 class="pb-4 border-bottom">Change Password</h4>
    <form action="{% url 'change_password' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
                <label for="id_old_password">Current password</label>
                <input type="password" id="id_old_password" name="old_password" ><br>
                <label for="id_new_password1">New password</label>
                <input type="password" id="id_new_password1" name="new_password1" onchange="check()"><br>
                <label for="id_new_password2">Config new password</label>
                <input type="password" id="id_new_password2" name="new_password2" onchange="check()">
            <button id="sub_btn" class="btn btn-primary mr-3" type="submit">Save</button>  
    </form>
            <a href="{% url 'edit_profile' %}">Cancel</a>
</div>
<script>
    function check() {
        if (document.getElementById('id_new_password1').value == document.getElementById('id_new_password2').value) {
            document.getElementById('sub_btn').disabled = false;}
        else {
            document.getElementById('sub_btn').disabled = true;}
        }
</script>


</html>