<!DOCTYPE html>
{% load static %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Manup Template">
    <meta name="keywords" content="Manup, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PCSCE</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.svg' %}"  style="border-radius: 50%;">

    <!-- Css Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!---->

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}?v=1" />
    
</head>

<body>
    <!-- Js Plugins -->
    <script src="{% static 'js/home.js' %}"></script>
    <!-- Page Preloder 

    <div id="preloder">
        <div class="loader"></div>
    </div>-->

    {% block content %}
    <!-- Header Section Begin -->
    <header class="header-section">
   
        <div class="container">
            <div class="logo">
                <a href= '/'> 
                    <img src="{% static 'img/logo.svg' %}" style="width: 45px;" alt="">
                </a>
            </div>
            <div class="nav-menu">
                <nav class="mainmenu mobile-menu">
                    <ul>
                        <li class="active"><a href= '/'>Home</a></li>
                        <!--<li><a href="{% url 'upload' %}">Submition</a></li>-->
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'committee' %}">Committee</a>
                        </li>
                        <li><a href="{% url 'schedule' %}">Schedule</a></li>
                        <li><a href="{% url 'contact' %}">Contacts</a></li>
                    </ul>
                </nav>
                <div class="action" id="action">
                    <div class="profile" id="profile">
                        <img src="{{ user_data.avatar.url }}" alt="User Avatar" />
                    </div>
                    <div class="menu" id="menu">
                        <h2>{{ user.username }}</h2>
                        {% if user_data.firstname %}
                        <h3>{{ user_data.firstname }} {{ user_data.lastname }} <br />
                            <span>{{ user_data.job }}</span></h3>
                        {%endif%}
                        <ul>
                            <li><i class="fa fa-edit"></i> <a href="{% url 'edit_profile' %}">Edit Profile</a></li>
                            <!--<li><i class="fa fa-envelope"></i> <a href="#">Notification</a></li>
                            <li><i class="fa fa-cog"></i> <a href="#">Settings</a></li>
                            <li><i class="fa fa-question-circle"></i> <a href="#">Help</a></li>-->
                            <li><i class="fa fa-sign-out-alt"></i> <a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>

    </header>

<!--<div class="home-next-step">
    <h1>Next steps {{user_data.firstname}}</h1>
    <ul>
        <li>By 12 June, submit a .doc/.pdf file to the appropriate section <br><span>It may take 3 business days to review the file</span></li>
        <li>Wait for confirmation of participation, make corrections to the file if necessary</li>
    </ul>

</div>-->
    <!-- Header End -->

    <!-- Message Section Begin -->
    <div class="toast-container position-fixed top-0 start-50 translate-middle-x p-3">
        {% if messages %}
            {% for message in messages %}
                <div class="toast align-items-center text-white bg-{% if message.tags == 'error' %}danger{% else %}success{% endif %} border-0 fade show"
                    role="alert" aria-live="assertive" aria-atomic="true" id="toast-{{ forloop.counter }}">
                    <div class="d-flex">
                        <div class="toast-body text-center w-100">
                            {{ message }}
                        </div>
                    </div>
                </div>
                <script>
                    setTimeout(() => {
                        let toast = document.getElementById("toast-{{ forloop.counter }}");
                        if (toast) {
                            toast.classList.remove("show");
                            toast.classList.add("hide");
                        }
                    }, 3000);
                </script>
            {% endfor %}
        {% endif %}
    </div>
    
    <!-- Message End -->

    {% include 'base/upload.html' %}
    
<!-- Table to display uploaded files -->

<footer class="footer-section">
    <div class="container">
        <div class="partner-logo owl-carousel">
            <a href="#" class="pl-table">
                <div class="pl-tablecell">
                    <img src="{% static 'img/partner-logo/logo-1.png' %}" alt="">
                </div>
            </a>
            <a href="#" class="pl-table">
                <div class="pl-tablecell">
                    <img src="{% static 'img/partner-logo/logo-2.png' %}" alt="">
                </div>
            </a>
            <a href="#" class="pl-table">
                <div class="pl-tablecell">
                    <img src="{% static 'img/partner-logo/logo-3.png' %}" alt="">
                </div>
            </a>
            <a href="#" class="pl-table">
                <div class="pl-tablecell">
                    <img src="{% static 'img/partner-logo/logo-4.png' %}" alt="">
                </div>
            </a>
            <a href="#" class="pl-table">
                <div class="pl-tablecell">
                    <img src="{% static 'img/partner-logo/logo-5.png' %}" alt="">
                </div>
            </a>
            <a href="#" class="pl-table">
                <div class="pl-tablecell">
                    <img src="{% static 'img/partner-logo/logo-6.png' %}" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-text">
                    <div class="ft-logo">
                        <a href="#" class="footer-logo"><img src="{% static 'img/logo.svg' %}" style="width: 85px;" alt=""></a>
                    </div>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="{% url 'committee' %}">Committee</a></li>
                        <li><a href="{% url 'schedule' %}">Schedule</a></li>
                        <!--<li><a href="#">Blog</a></li>-->
                        <li><a href="{% url 'contact' %}">Contacts</a></li>
                    </ul>
                    <div class="copyright-text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                    <div class="ft-social">
                        <a href="#https://www.facebook.com/@chnu.edu.ua/"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiarbmq6c-JAxXlDRAIHUuYII8QFnoECBUQAQ&url=https%3A%2F%2Fwww.instagram.com%2Fstudparlament_nniftkn%2F&usg=AOvVaw1hGg_mj_X7kIJyzwsOCPMV&opi=89978449"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock content %}
</body>
<script src="{% static 'js/home.js' %}"></script>
</html>