
body {
	background: #f8f9fa;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#password-requirements {
    display: none;
    color: gray;
    font-size: 12px;
}

.container {
	width: 105%;
	padding: 20px;
	background: white;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.form-group {
	margin-bottom: 15px;
}

input {
	width: 50%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button {
	width: 50%;
	padding: 10px;
	border: none;
	background: #007bff;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

button:hover {
	background: #0056b3;
}

.toggle-btn {
	background: none;
	color: #007bff;
	border: none;
	cursor: pointer;
	text-decoration: underline;
}

.error-message {
	color: red;
	font-size: 12px;
	display: none;
}

.toast-container {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 1050;
}

a:link {
	text-decoration: none;
  }
  
  a:visited {
	text-decoration: none;
  }
  
  a:hover {
	text-decoration: underline;
  }
  
  a:active {
	text-decoration: underline;
  }

#form-title{
	margin-bottom: 2%;
}